@font-face {
  font-family: Chicago;
  src: url("fonts/ChicagoFLF.woff") format("woff");
}
/* Fonts below are recreations by Giles Booth */
@font-face {
  font-family: Chicago_12;
  src: url("fonts/ChiKareGo2.woff") format("woff");
}